<!DOCTYPE html>
<html lang="es-ES">

    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Rubén Bermejo Romero">
        <meta name="description" content="Homepage of Ring Rebound, the newest free arena ring shooting game!">
        <meta name="keywords" content="Game, Arena, Free, Final Degree Project, help "
        <title>Ring Rebound</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        
    </body>

</html>